@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  color: #2b3541;
}

body {
  font: 400 18px "Montserrat";
  background: #fefcfe;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

header {
  max-width: 1835px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 31px;
  padding-top: 66px;
  padding-bottom: 27px;
}

.logo {
  padding: 1px 18px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 218px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 10px;
}

.nav-item {
  padding-right: 54px;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.nav-link:hover {
  border-bottom: 1px solid #2b3541;
}

.social {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.social-item {
  padding-left: 29px;
}

.animate-social-item {
  transition: 0.3s ease;
}

.animate-social-item:hover {
  transform: scale(1.27);
}

.main {
  display: flex;
  position: relative;
  max-width: 1325px;
  height: 852px;
  margin: 27px 205px 147px 390px;
}

.main-image {
  position: absolute;
  margin-left: 325px;
  margin-top: -14px;
  z-index: 0;
}

.learn-more {
  color: #2b3541;
}

.learn-more-title {
  font-weight: 700;
  position: relative;
  padding-top: 217px;
  font-size: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 1;
}

.learn-more-feature {
  font-size: 40px;
  padding-top: 43px;
  line-height: 125%;
}

.learn-more-description {
  font-size: 18px;
  line-height: 150%;
  padding-top: 21px;
  padding-left: 91px;
  padding-bottom: 35px;
}

.learn-more-btn {
  padding-left: 91px;
}

.btn {
  width: 252px;
  height: 64px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 150%;
  padding: 19px;
}

.btn-default {
  background-color: #fbf138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  color: #2b3541;
}

.btn-default:hover {
  background-color: #2b3541;
  color: #fbf138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.arrow-scroll-down {
  padding-top: 183px;
  padding-left: 90px;
}

.arrow-scroll-down img {
  width: 52px;
  animation: animateArrow 3s linear infinite;
}

@keyframes animateArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.events {
  display: grid;
  margin-left: 387px;
  max-width: 1143px;
  max-height: 690px;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 17px;
  margin-bottom: 160px;
}

.upcoming-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.events-item {
  position: relative;
  max-height: 600px;
  max-width: 367px;
  margin-left: 3px;
  cursor: pointer;
}

.gradirent-item {
  display: inline-block;
}

.gradirent-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0) 100%);
  opacity: 0.3;
}

.gradirent-item:hover::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0) 100%);
  opacity: 0.6;
}

.events-date {
  position: absolute;
  margin-top: 31px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
  opacity: 0.6;
}

.events-title {
  position: absolute;
  margin-top: 78px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #2b3541;
}

.hashtag-item {
  display: flex;
  position: absolute;
  width: 126px;
  height: 47px;
  right: 0;
  bottom: 0;
  background-color: #fbf138;
}

.events-item:hover .hashtag-item {
  display: none;
}

.hashtag-item-text {
  color: #2b3541;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  margin: auto;
}

.btn-events-item {
  display: none;
}

.events-item:hover .btn-events-item {
  display: block;
  position: absolute;
  margin-top: 185px;
  margin-left: 30px;
  width: 221px;
  height: 64px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 150%;
  color: #fbf138;
  background: #2b3541;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
}

.workout {
  display: grid;
  margin-left: 389px;
  width: 1143px;
  max-height: 841px;
  grid-template: repeat(6, 126px) / repeat(3, 1fr);
  gap: 17px;
}

.workout-date-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}

.workout-date {
  font-weight: bold;
  font-size: 28px;
  line-height: 125%;
  color: #2b3541;
  padding-top: 13px;
}

.block-left {
  grid-column: 1 / 2;
  grid-row: 2 / 7;
  display: flex;
  flex-direction: column;
}

.functional-training {
  max-width: 367px;
  height: 250px;
  border: 1px solid #2b3541;
}

.functional-training-date {
  text-align: end;
  padding-right: 30px;
  padding-top: 22px;
}

.functional-training-image {
  padding-left: 31px;
  padding-top: 57px;
}

.functional-training-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  padding-left: 30px;
  padding-top: 36px;
  padding-bottom: 25px;
}

.functional-training-description {
  display: none;
}

.functional-training:hover {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid rgba(243, 243, 243, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.functional-training:hover .functional-training-image {
  display: block;
  padding-left: 31px;
  padding-top: 5px;
  transition: 0.5s ease;
}

.functional-training:hover .functional-training-description {
  display: block;
  padding-left: 31px;
  padding-bottom: 10px;
}

.workout-item:first-child {
  margin-top: -5px;
  margin-bottom: 20px;
}

.power-mix {
  height: 433px;
  max-width: 367px;
  border: 1px solid #2b3541;
}

.power-mix-date {
  text-align: end;
  padding-right: 30px;
  padding-top: 22px;
}

.power-mix-image {
  padding-left: 31px;
  padding-top: 197px;
}

.power-mix-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  padding-left: 30px;
  padding-top: 36px;
}

.power-mix-description {
  display: none;
}

.power-mix:hover {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid rgba(243, 243, 243, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.power-mix:hover .power-mix-description {
  display: block;
  font-size: 18px;
  line-height: 150%;
  padding-top: 22px;
  padding-left: 30px;
}

.power-mix:hover .power-mix-image {
  padding-left: 31px;
  padding-top: 80px;
  transition: 0.5s ease;
}

.block-center {
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.body-sculpt {
  max-width: 366px;
  height: 402px;
  border: 1px solid #2b3541;
}

.body-sculpt-date {
  text-align: end;
  padding-right: 30px;
  padding-top: 22px;
}

.body-sculpt-image {
  padding-left: 28px;
  padding-top: 189px;
}

.body-sculpt-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  padding-left: 30px;
  padding-top: 36px;
}

.body-sculpt-description {
  display: none;
}

.body-sculpt:hover {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid rgba(243, 243, 243, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.body-sculpt:hover .body-sculpt-description {
  display: block;
  font-size: 18px;
  line-height: 150%;
  padding-top: 22px;
  padding-left: 30px;
}

.body-sculpt:hover .body-sculpt-image {
  padding-left: 28px;
  padding-top: 80px;
  transition: 0.5s ease;
}

.breathing-practices {
  max-width: 366px;
  height: 281px;
  border: 1px solid #2b3541;
}

.breathing-practices-date {
  text-align: end;
  padding-right: 30px;
  padding-top: 22px;
}

.breathing-practices-image {
  padding-left: 28px;
  padding-top: 92px;
}

.breathing-practices-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  padding-left: 30px;
  padding-top: 36px;
}

.breathing-practices-description {
  display: none;
}

.breathing-practices:hover {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid rgba(243, 243, 243, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.breathing-practices:hover .breathing-practices-description {
  display: block;
  font-size: 18px;
  line-height: 150%;
  padding-top: 22px;
  padding-left: 30px;
}

.breathing-practices:hover .breathing-practices-image {
  padding-left: 28px;
  padding-top: 5px;
  transition: 0.5s ease;
}

.block-right {
  grid-column: 3 / 4;
  grid-row: 2 / 7;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.lab-practices {
  max-width: 367px;
  height: 309px;
  border: 1px solid #2b3541;
}

.lab-practices-date {
  text-align: end;
  padding-right: 30px;
  padding-top: 22px;
}

.lab-practices-image {
  padding-left: 28px;
  padding-top: 131px;
}

.lab-practices-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  padding-left: 30px;
  padding-top: 36px;
}

.lab-practices-description {
  display: none;
}

.lab-practices:hover {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid rgba(243, 243, 243, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.lab-practices:hover .lab-practices-description {
  display: block;
  font-size: 18px;
  line-height: 150%;
  padding-top: 22px;
  padding-left: 30px;
}

.lab-practices:hover .lab-practices-image {
  padding-left: 28px;
  padding-top: 45px;
  transition: 0.5s ease;
}

.complex-warm-up {
  max-width: 367px;
  height: 374px;
  border: 1px solid #2b3541;
}

.complex-warm-up-date {
  text-align: end;
  padding-right: 30px;
  padding-top: 22px;
}

.complex-warm-up-image {
  padding-left: 28px;
  padding-top: 180px;
}

.complex-warm-up-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  padding-left: 30px;
  padding-top: 36px;
}

.complex-warm-up-description {
  display: none;
}

.complex-warm-up:hover {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid rgba(243, 243, 243, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.complex-warm-up:hover .complex-warm-up-description {
  display: block;
  font-size: 18px;
  line-height: 150%;
  padding-top: 22px;
  padding-left: 30px;
}

.complex-warm-up:hover .complex-warm-up-image {
  padding-left: 28px;
  padding-top: 90px;
  transition: 0.5s ease;
}

.subscribe {
  width: 1920px;
  height: 348px;
  background: #f3f3f3;
  margin-top: 160px;
  margin-bottom: 100px;
}

.subscribe-block {
  display: block;
  max-width: 900px;
  margin-left: 638px;
  padding: 30px;
}

.subscribe-title {
  position: relative;
  padding-top: 50px;
}

.circle {
  position: absolute;
  margin-top: 20px;
  margin-left: -59px;
  position: absolute;
}

.subscribe-form {
  width: 610px;
}

.subscribe-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-left: -9px;
}

.subscribe-input .label-email {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
  opacity: 0.3;
  z-index: 1;
}

.field-input {
  height: 65px;
  width: 372px;
  margin-top: 29px;
  background: #ffffff;
  border: none;
  outline: none;
  z-index: 0;
}

/* .field-input:hover {
	background: #F3F3F3;
} */

.input-email {
  position: relative;
  height: 65px;
  width: 372px;
  margin-top: 0;
  padding-left: 15px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

.input-email:focus {
  cursor: text;
}

.input-email:not(:placeholder-shown) ~ .label-email {
  display: none;
}
.input-email._error {
  border: 1px solid #ae0303;
}
.subscribe-submit .btn-default {
  width: 225px;
  height: 65px;
}

.subscribe-submit {
  padding-top: 30px;
  padding-left: 21px;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-off::after {
  transform: scale(1);
}

.checkbox-input:checked + .checkbox-on::before {
  transform: scale(0);
}

.checkbox-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: -8px;
  margin-top: 12px;
  font-size: 11px;
  line-height: 150%;
  color: rgba(43, 53, 65, 0.5);
}

.checkbox-on::before {
  content: "";
  align-self: start;
  flex: 0 0 20px;
  height: 20px;
  width: 20px;
  background-image: url(../icons/checkbox_on.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox-off::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  align-self: start;
  flex: 0 0 20px;
  height: 20px;
  width: 20px;
  background-image: url(../icons/checkbox_off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transform: scale(0);
  /* transition: transform 0.3s ease 0s; */
}

.checkbox-label a {
  border-bottom: 1px solid rgba(43, 53, 65, 0.5);
  cursor: pointer;
}

.check-data:checked + .check-style {
  width: 18px;
  height: 18px;
  background-image: url(../icons/checkbox_on.svg);
}

.agreement-style {
  width: 320px;
  padding-left: 3px;
}

.checkbox-label:hover a {
  color: rgba(43, 53, 65, 1);
  border-bottom: 1px solid rgba(43, 53, 65, 1);
}

.requirements {
  margin-left: -8px;
  font-size: 14px;
  line-height: 150%;
  color: transparent;
}

/* .requirements {
  color: #ae0303;
} color меняется в script.js */


