@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font: 400 18px "Montserrat";
  background: #fefcfe;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

header {
  max-width: 1835px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 31px;
  padding-top: 66px;
  padding-bottom: 27px;
}

.logo {
  padding: 1px 18px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 218px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 10px;
}

.nav-item {
  padding-right: 54px;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.nav-link:hover {
  border-bottom: 1px solid #2b3541;
}

.social {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.social-item {
  padding-left: 29px;
}

.animate-social-item {
  transition: 0.3s ease;
}

.animate-social-item:hover {
  transform: scale(1.27);
}

.main {
  display: flex;
  position: relative;
  max-width: 1325px;
  height: 852px;
  margin: 27px 205px 160px 390px;
}

.main-image {
  position: absolute;
  margin-left: 325px;
  margin-top: -14px;
  z-index: 0;
}

.learn-more {
  color: #2b3541;
}

.learn-more-title {
  font-weight: 700;
  position: relative;
  padding-top: 217px;
  font-size: 48px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 1;
}

.learn-more-feature {
  font-size: 40px;
  padding-top: 43px;
  line-height: 125%;
}

.learn-more-description {
  font-size: 18px;
  line-height: 150%;
  padding-top: 21px;
  padding-left: 91px;
  padding-bottom: 35px;
}

.learn-more-btn {
  padding-left: 91px;
}

.btn {
  width: 252px;
  height: 64px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 150%;
  padding: 19px;
}

.btn-default {
  background-color: #fbf138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  color: #2b3541;
}

.btn-default:hover {
  background-color: #2b3541;
  color: #fbf138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.arrow-scroll-down {
  padding-top: 183px;
  padding-left: 90px;
}

.arrow-scroll-down img {
  width: 52px;
  animation: animateArrow 3s linear infinite;
}

@keyframes animateArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
